<!DOCTYPE html>
<html>
<head>
	<title>Travel Dashboard</title>
	<style type="text/css">
		table{
			background-color: grey;
		}
	</style>
</head>
<body>
	<h2>Hello, {{ user.name }}</h2>
	<p><a href="{% url 'logout' %}">Logout</a></p>
	<br>
	<h4>Your Trip Schedules</h4>
	<table>
		<thead>
			<tr>
				<th>Destination</th>
				<th>Travel Start Date</th>
				<th>Travel End Date</th>
				<th>Plan</th>
			</tr>
		</thead>
		<tbody>
			{% if travel %}
				{% for travel in travel_plans %}
					<tr>
						<td><a href="{% url 'show' %}">{{travel.destination}}</a></td>
						<td>{{travel.travel_from}}</td>
						<td>{{travel.travel_to}}</td>
						<td>{{travel.description}}</td>
					
				{% endfor %}
				{% else %}
					<p>You have no destinations yet.</p>
				{% endif %}
				</tr>

		</tbody>
	</table>

	<h4>Other User's Travel Plans</h4>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Destination</th>
				<th>Travel Start Date</th>
				<th>Travel End Date</th>
				<th>Do you want to join?</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{user.name}}</td>
					<td>{{travel.destination}}</td>
					<td>{{travel.travel_from}}</td>
					<td>{{travel.travel_to}}</td>
					<td><a href="">Join</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

<p><a href="{% url 'new_travel' %}">Add Travel Plan</a></p>

</body>
</html>