<!DOCTYPE html>
<html>
<head>
	<title>Travel Dashboard</title>
	<style type="text/css">
		table{
			background-color: grey;
		}
	</style>
</head>
<body>
	<h2>Hello, {{ user.name }}</h2>
	<p><a href="{% url 'logout' %}">Logout</a></p>
	<br>
	<h4>Your Trip Schedules</h4>
	<table>
		<thead>
			<tr>
				<th>Destination</th>
				<th>Travel Start Date</th>
				<th>Travel End Date</th>
				<th>Plan</th>
			</tr>
		</thead>
		<tbody>
				{% for trips in my_trips %}
					<tr>
						<td><a href="{% url 'show' id=trips.id %}">{{trips.destination}}</a></td>
						<td>{{trips.travel_from}}</td>
						<td>{{trips.travel_to}}</td>
						<td>{{trips.description}}</td>
					
				{% endfor %}
				</tr>

		</tbody>
	</table>

	<h4>Other User's Travel Plans</h4>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Destination</th>
				<th>Travel Start Date</th>
				<th>Travel End Date</th>
				<th>Do you want to join?</th>
			</tr>
		</thead>
		<tbody>
			{% for trips in other_trips  %}
				<tr>
					<td>{{trips.planned_by.name}}</td>
					<td><a href="{% url 'show' id=trips.id %}">{{trips.destination}}</a></td>
					<td>{{trips.travel_from}}</td>
					<td>{{trips.travel_to}}</td>
					<td><a href="{% url 'add_trip' id=trips.id %}">Join</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

<p><a href="{% url 'add' %}">Add Travel Plan</a></p>

</body>
</html>